* {
  box-sizing: border-box;
}

body {
  font-family: Arimo,sans-serif;
}

a {
  text-decoration: none;
}

.header {
  height: 80px;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-left {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}