* {
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 100vw;
  background-color: #ffffff;
  font-family: Arimo,sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}