.name-item,.place-item {
  height: 50px;
  width: 300px;
}
.file-item {
  height: 30px;
  width: 300px;
}
.describe-item {
  height: 120px;
  width: 450px;
}
#image-list {
  height: 20px;
  width: 20px;
}