.item-contents {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: #f7c247;
  overflow: scroll;
  padding-top: 30px;
  .item {
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}