.main-contents {
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: #f7c247;
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .item-contents {
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    .item-name {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
}