<div class="header">
  <div class="header-left">
    <p>GoodIdea.com</p>
  </div>
  <div class=header-right>
    <a href="#" class="header-link">ホーム</a>
    <a href="#" class="header-link">便利を共有って？</a>
    <a href="#" class="header-link">便利一覧</a>
    <a href="#" class="header-link">お問い合わせ</a>
  </div>
</div>
<div class="second-header">
  <div class="second-left">
    <img src="https://i.gyazo.com/13d48e9d09adc8eb62b1431ba1883a32.png" class="left-img">
  </div>
  <div class="second-right">
    <p class="second-title">
      あなたの便利を共有する場所です。
    </p>
    <p class="second-describe">
      ユーザー同士の便利がお互いに<br>効率UP、時短になることがあるかもしれません。
    </p>
    <p class="second-describe">
      是非、あなたの便利を教えてください。
    </p>
    <p class="second-describe">
      下記より新規登録していただくことで<br>共有することができます。
    </p>
    <div class="btn">
      <div class="left-btn">
        <a href="#" class="link-btn">新規登録</a>
      </div>
      <div class="right-btn">
        <a href="#" class="link-btn">ログイン</a>
      </div>
    </div>
  </div>
</div>

<div class="top-contents">
  <img src="https://i.gyazo.com/60cd4967226774dcf4f3166f671ba887.jpg" class="top-img">
</div>

<div class="contents">
  <div class="content">
    <p class="content-title">便利とは？</p>
    <p class="content-describe">
      生活する上で掃除をラクにしてくれるもの、これを使えば料理する時間が短縮されるものなど便利だと思っているものを共有しましょう。
    </p>
    <p class="content-describe">ユーザー同士で共有しあって暮らしをもっと便利にしていきましょう。</p>
  </div>
  <div class="content">
    <p class="content-title">共有するのは何でもOK</p>
    <p class="content-describe">
      共有するのは物はもちろんのこと、知恵でも何でも共有して頂ければと思います。あなたしか知らないアイデアが他の方々の暮らしを便利にするかもしれません。
    </p>
    <p class="content-describe">
      「あ、これ便利だな」と思うものであれば、是非教えてください。
    </p>
  </div>
  <div class="content">
    <p class="content-title">共有しよう！</p>
    <p class="content-describe">まずはユーザー登録しましょう！</p>
    <p class="content-describe">便利を共有するには、ユーザー登録が必要になります。便利一覧はご登録頂かなくても見れますが、共有することはできません。</p>
    <p class="content-describe"></p>
  </div>
</div>