<div class="header">
  <div class="header-left">
    <p>GoodIdea.com</p>
  </div>
  <div class=header-right>
    <a href="#">Home</a>
    <a href="#"></a>
    <a href="#">Home</a>
    <a href="#">Home</a>
  </div>
</div>