<div class="header">
  <div class="header-left">
    <p>GoodIdea.com</p>
  </div>
  <div class=header-right>
    <a href="#" class="header-link">ホーム</a>
    <a href="#" class="header-link">便利を共有って？</a>
    <a href="#" class="header-link">便利一覧</a>
    <a href="#" class="header-link">お問い合わせ</a>
  </div>
</div>
<div class="header-img">
  <img src="https://i.gyazo.com/a6a94ebd3ae4ecf46e98ec89f11fd07f.jpg" class="top-img">
</div>