<div class="header">
  <div class="header-left">
    <p>GoodIdea.com</p>
  </div>
  <div class=header-right>
    <a href="#" class="header-link">ホーム</a>
    <a href="#" class="header-link">便利を共有って？</a>
    <a href="#" class="header-link">便利一覧</a>
    <a href="#" class="header-link">お問い合わせ</a>
  </div>
</div>
<div class="second-header">
  <div class="second-left">
    <p class="second-title">
      あなたの便利を共有する場所です。
    </p>
    <p class="second-describe">
      ユーザー同士の便利がお互いに<br>効率UP、時短になることがあるかもしれません。
    </p>
    <p class="second-describe">
      是非、あなたの便利を教えてください。
    </p>
    <p class="second-describe">
      下記より新規登録していただくことで<br>共有することができます。
    </p>
    <div class="btn">
      <div class="left-btn">
        <a href="#" class="link-btn">新規登録</a>
      </div>
      <div class="right-btn">
        <a href="#" class="link-btn">ログイン</a>
      </div>
    </div>
  </div>
  <div class="second-right">
    <img src="https://i.gyazo.com/60cd4967226774dcf4f3166f671ba887.jpg" class="top-img">
  </div>
</div>
<div class="contents">
  <div class="left-content"></div>
  <div class="center-content"></div>
  <div class="right-content"></div>
</div>