<div class="header">
  <div class="header-left">
    <p>GoodIdea.com</p>
  </div>
  <div class=header-right>
    <a href="#" class="header-link">ホーム</a>
    <a href="#" class="header-link">便利を共有って？</a>
    <a href="#" class="header-link">便利一覧</a>
    <a href="#" class="header-link">お問い合わせ</a>
  </div>
</div>
<div class="second-header">
  <div class="second-left">
    <p class="second-title">
      あなたの便利を共有する場所です。
    </p>
  </div>
  <div class="second-right">
    <img src="https://i.gyazo.com/60cd4967226774dcf4f3166f671ba887.jpg" class="top-img">
  </div>
</div>