<div class="header">
  <div class="header-left">
    <p>GoodIdea.com</p>
  </div>
  <div class=header-right>
    <a href="#">ホーム</a>
    <a href="#">便利を共有って？</a>
    <a href="#">便利一覧</a>
    <a href="#">お問い合わせ</a>
  </div>
</div>