.top-new {
  height: 100vh;
  width: 100vw;
  background-color: #f7c247;
  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }
  .field {
    height: 60px;
    width: 80px;
  }
}